.container{
    font: 400 1.0rem Raleway;
    max-width: 300px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

body{
    font: 400 1.0rem Raleway; 
}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.logo-whatsapp{
    width: 30px;
    margin-bottom: 0%;
}
.whatsapp-info-text{
    text-decoration: none;
    color: black;

}
.email-text{
    text-decoration: none;
    color: black;
}
